// LOGO
.logo {
    height: 3.25rem;
    margin-left: 2rem;

    &:hover {
        cursor: pointer;
    }
}

// SEARCH BAR
.search {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: $bp-smaller) {
        order: 1;
        flex: 0 0 90%;
    }

    &__input {
        font-size: inherit;
        font-family: inherit;
        color: inherit;
        border: none;
        background-color: var(--color-grey-light-3);
        padding: 0.7rem 2rem;
        border-radius: 500px;
        width: 90%;
        transition: all 0.2s;
        margin-right: -3.25rem;

        &:focus {
            outline: none;
            width: 100%;
            font-weight: 500;
            background-color: var(--color-grey-light-3);
        }

        &::-webkit-input-placeholder {
            font-weight: 200;
            color: var(--color-grey-light-4);
        }
    }

    &__input:focus + &__button {
        background-color: var(--color-grey-light-3);
    }

    &__button {
        background-color: var(--color-grey-light-2);
        border: none;

        &:focus {
            outline: none;
            cursor: pointer;
        }

        &:active {
            transform: translateY(2px);
        }

        &:hover {
            cursor: pointer;
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3);
    }
}

// USER-NAV
.user-nav {
    align-self: stretch;
    display: flex;
    align-items: center;

    & > * {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
        
        &:hover {
            background-color: var(--color-grey-light-3);
        }
    } 

    &__icon-box {
        position: relative;
    }

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color-grey-dark-2);
    }

    &__notification {
        font-size: 0.8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: #fff;
        position: absolute;
        top: 1.5rem;
        right: 1.1rem;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    &__user-photo {
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 1rem;
    }
}

// SIDE NAVIGATION
.side-nav {
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;

    @media only screen and (max-width: $bp-medium) {
        display: flex;
        margin: 0;
    }

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-bottom: 0.5rem;

            @media only screen and (max-width: $bp-medium) {
                margin-bottom: 0;
            }
        }

        @media only screen and (max-width: $bp-medium) {
            flex: 1;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 3px;
            transform: scaleY(0);
            background-color: var(--color-primary);
            transition: transform 0.3s, width 0.6s cubic-bezier(1, 0, 0, 1) 0.3s, background-color 0.2s;
        }

        &:hover::before,
        &-active::before {
            transform: scaleY(1);
            width: 100%;
        }

        &:active::before {
            background-color: var(--color-primary-light);
        }
    }

    &__link:link,
    &__link:visited {
        color: var(--color-grey-light-1);
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3rem;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 20;

        @media only screen and (max-width: $bp-medium) {
            justify-content: center;
            padding: 2rem;
        }

        @media only screen and (max-width: $bp-small) {
            flex-direction: column;
            padding: 1rem 0.5rem;
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        margin-right: 2rem;
        fill: var(--color-grey-light-1);

        @media only screen and (max-width: $bp-small) {
            margin-right: 0;
            margin-bottom: 0.7rem;
            height: 1.5rem;
            width: 1.5rem;
        }
    }
}

// LEGAL
.legal {
    font-size: 1.5rem;
    color: var(--color-grey-light-4);
    padding: 2.5rem;
    text-align: center;

    @media only screen and (max-width: $bp-medium) {
        display: none;
    }

    &__text {
        text-decoration: none;
        color: currentColor;
    }

    &__text:hover {
        color: var(--color-primary-light);
    }
}

// GALLERY 
.gallery {
    display: flex;

    &__photo {
        width: 100%;
        display: block;
    }
}

// OVERVIEW
.overview {
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--color-grey-light-3);

    &__heading {
        font-size: 2.25rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.5rem 3rem;
    
        @media only screen and (max-width: $bp-small) {
            font-size: 1.5rem;
            padding: 1rem 1.8rem;
        }
    }

    &__stars {
        margin-right: auto;
        display: flex;
        transition: transform 0.5s;

        &__icon:hover {
            transform: scale(1.5);
        }
    }

    &__location {
        font-size: 1.3rem;
        display: flex;
        align-items: center;

        &__icon {
            margin-right: 0.7rem;
        }
    }

    &__location__icon, 
    &__stars__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-primary);
    }

    &__rating {
        background-color: var(--color-primary);
        color: #fff;
        margin-left: 3rem;
        align-self: stretch;
        padding: 0 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @media only screen and (max-width: $bp-small) {
            padding: 0 1.5rem;
        }

        &-average {
            font-size: 2rem;
            font-weight: 400;

            @media only screen and (max-width: $bp-small) {
                font-size: 1rem;
            }
        }

        &-count {
            font-size: 1rem;
            text-transform: uppercase;

            @media only screen and (max-width: $bp-small) {
                font-size: 0.75rem;
            }
        }
    }
}

// BTN-INLINE
.btn-inline {
    border: none;
    font-size: inherit;
    color: var(--color-primary);
    border-bottom: 2px solid currentColor;
    padding-bottom: 2px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s;

    & span {
        margin-left: 3px;
        transition: margin-left 0.3s;
    }

    &:hover {
        color: var(--color-grey-dark-1);

        & span {
            margin-left: 8px;
        }
    }

    &:focus {
        outline: none;
        animation: pulsuate 1s infinite;
    }
}

@keyframes pulsuate {
    0% {
        transform: scale(1);
        box-shadow: none;
    }

    50% {
        transform: scale(1.1);
        box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
    }

    100% {
        transform: scale(1);
        box-shadow: none;
    }
}

// PARAGRAPH
.paragraph:not(:last-of-type) {
    margin-bottom: 2rem;
}

// LIST
.list {
    list-style: none;
    margin: 3rem 0;
    padding: 2.5rem 0;
    border-top: 2px solid var(--color-grey-light-3);
    border-bottom: 2px solid var(--color-grey-light-3);
    display: flex;
    flex-wrap: wrap;

    &__item {
        flex: 0 0 50%;
        margin-bottom: 1rem;
        z-index: 50;

        @media only screen and (max-width: 415px) {
            flex: 0 0 75%;
        }
    }

    &__item::before {
        content: "";
        display: inline-block;
        height: 1.5rem;
        width: 1.5rem;
        margin-right: .7rem;

        // For Older browsers
        // background-image: url(../img/chevron-thin-right.svg);
        // background-size: cover;

        background-color: var(--color-primary);
        -webkit-mask-size: cover;
        -webkit-mask-image: url(../img/chevron-thin-right.svg);
        mask-image: url(../img/chevron-thin-right.svg);
        mask-size: cover;
    }
}


// RECOMMEND SECTION
.recommend {
    font-size: 1.3rem;
    color: var(--color-grey-dark-3);
    display: flex;
    align-items: center;

    &__count {
        margin-right: auto;
    }

    &__friends {
        display: flex;
    }

    &__photo {
        box-sizing: content-box;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        border: 5px solid #fff;
        transition: transform 0.3s;

        &:not(:last-child) {
            margin-right: -2rem;
        }

        &:hover {
            transform: scale(1.3);
            cursor: pointer;
        }
    }
}

// REVIEWS
.review {
    background-color: #fff;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
    padding: 3rem;
    position: relative;
    margin-bottom: 3.5rem;
    overflow: hidden;

    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
        margin-bottom: 2.7rem;
    }

    &__text {
        z-index: 5;
        position: relative;
        margin-bottom: 2rem;
    }

    &__user {
        display: flex;
        align-items: center;

        &-photo {
            height: 5rem;
            width: 5rem;
            border-radius: 50%;
            margin-right: 1.5rem;
        }
        
        &-box {
            margin-right: auto;
        }

        &-name {
            text-transform: uppercase;
            font-size: 1.2rem;
            font-weight: 700;
            margin-bottom: 0.5rem;
        }

        &-date {
            font-size: 1rem;
        }

        &-rating {
            font-size: 2rem;
            font-weight: 300;
            color: var(--color-primary);
        }
    }

    &::before {
        content: "\201C";
        position: absolute;
        top: -2.5rem;
        left: -1rem;
        line-height: 1;
        font-size: 20rem;
        font-family: sans-serif;
        color: var(--color-grey-light-3);
        z-index: 1;
    }
}

// CTA
.cta {
    padding: 3.5rem;
    text-align: center;

    @media only screen and (max-width: $bp-medium) {
        padding: 2.5rem 0;
    }

    &__book-now {
        font-size: 1.5rem;
        font-weight: 300;
        margin-bottom: 2.5rem;
        text-transform: uppercase;
    }
}

.btn {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    border-radius: 5000px;
    border: none;
    background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
    color: #fff;
    position: relative;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
    cursor: pointer;
    overflow: hidden;

    & > * {
        display: inline-block;
        height: 100%;
        width: 100%;
        transition: all 0.3s;
    }

    &__visible {
        padding: 2rem 7.5rem;
    }

    &__invisible {
        padding: 2rem 0;
        position: absolute;
        left: 0;
        top: -100%;
    }

    &:hover {
        background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark));
    }

    &:focus {
        outline: none;
        animation: pulsuate 1s infinite;
    }

    &:hover &__visible {
        transform: translateY(100%);
    }

    &:hover &__invisible {
        top: 0;
    }
}

